body {
    background-color: #fdffeb;
}

.md-typeset h1 {
    /*font-size: 24pt;*/
    font-weight: bold;
    color: #000;
    border-bottom: solid 2px #f18b21;
    padding-bottom: 5px;
}

.md-typeset h2 {
    border-bottom: 1px dotted #898;
}

.md-typeset h2[id]::before {
    font-family: "FontAwesome";
    content: "\f101";
    color: #e44d26;
    margin-right: 6px;
    display: inline;
}

.md-typeset h3[id]::before {
    font-family: "FontAwesome";
    content: "\f105";
    color: #dca649;
    margin-right: 6px;
    display: inline;
}

.text-large {
    font-size: 125%;
}

.md-typeset .admonition {
    font-size: .72rem;
}

.md-footer-copyright-icon svg {
    fill: currentColor;
    width: 18x;
    height: 18px;
    margin-top: -2px;
    margin-bottom: -4px;
}
